* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
  padding: none;
}

button {
  border: none;
  padding: unset;
  background-color: unset;
  cursor: pointer;
}
